*{
    box-sizing: border-box;
}

html {
    background: #a7edfa; 
    background: #ff0d00;
}

body {
    background: #a7edfa; 
    background: linear-gradient(to bottom, #ffea00 0%, #ffc400 25%, #fe8300 75%, #ff0d00 100%);
    background-repeat: no-repeat;
}

header{
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#header-logo {
    height: 20vh;
    width: 100%;
    object-fit:none ;
    border-radius: 0;
}

h1 {
    text-align: center;
    padding: 3rem;
    margin: 0 auto 2rem;
}

h1::after {
    content: '';
    position: relative;
    animation: animate 1s ease-in forwards;
    left: 0.1ch;
}

@keyframes animate {
    0%{
        white-space: pre;
        text-decoration: underline;
        content: "  Bruce's Puce  ";
    }
    10%{
        white-space: pre;
        text-decoration: underline;
        content: "    Gin Lemon   ?";
    }
    20%{
        white-space: pre;
        text-decoration: underline;
        content: "  Berry Deadly  ?";
    }
    30%{
        white-space: pre;
        text-decoration: underline;
        content: "   Grasshoper   ?";
    }
    40%{
        white-space: pre;
        text-decoration: underline;
        content: "   Zenmaister   ?";
    }
    50%{
        white-space: pre;
        text-decoration: underline;
        content: "   Bubble Gum   ?";
    }
    60%{
        white-space: pre;
        text-decoration: underline;
        content: "  Horse's Neck  ?";
    }
    70%{
        white-space: pre;
        text-decoration: underline;
        content: "  Sherry Eggnog ?";
    }
    80%{
        white-space: pre;
        text-decoration: underline;
        content: " Duchamp's Punch?";
    }
    90%{
        white-space: pre;
        text-decoration: underline;
        content: "     Zambeer    ?";
    }
    100%{
        white-space: pre;
        text-decoration: underline;
        content: " Tequila Sunrise?";
    }
}

#filter-container {
    padding-top: 2rem;
    text-align: center;
}

.filter{
    margin: 0.25rem;
    border-radius: 5px;
    color: white;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

option {
    padding: 0.5rem;
    color: white;
    background: goldenrod;
}

.filter:focus, option:hover {
    background-color: red;
}

button {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 10px;
    margin: 3vh auto auto;
    background: linear-gradient(to bottom, #41403f86 40%, #00000086 95%);
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(100px, 200px) 30vw;
    grid-template-rows: 3rem auto auto;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
        "img title"
        "img ing"
        "info ing";
    border: 2px solid aquamarine;
    width: fit-content;
    max-width: 1000px;
    margin: 30px auto;
    padding: 2rem;
    border-radius: 9px;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.image-grid {
    grid-area: img;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.info {
    grid-area: info;
}

.drink-name {
    grid-area: title;
}

.drink-instructions {
    grid-area: ing;
}

#instructions {
    max-width: 40vh;
}

.drink-arr-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.array-button {
    font-size: 1.5rem;
    padding: 1rem;
}

@media (max-width: 700px) {
    * {
        font-size: 10px;
    }
    #header-logo {
        height: 100%;
        object-fit:scale-down ;
        padding: 0.5rem;
    }
    header {
        height: 10vh;
    }

}